.App {
  font-family: sans-serif;
  text-align: center;
}

.botao {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
  margin-right: 10px;
}
.submit-verde {
  background-color: #4caf50;
}
.submit-azul {
  background-color: #4c9baf;
}
.botao-excluir {
  background-color: #da3131;
}
.botao-alterar {
  background-color: rgb(214, 185, 20);
}
.botao:hover {
  filter: brightness(85%);
}

.usuarios {
  list-style-type: none;
  padding: 15px;
  max-height: 400px;
  overflow-y: auto;
  margin: 0 auto;
  border: 1px solid #4c9baf;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.input {
  padding: 10px;
  margin: 0 10px 10px 0;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
}

.dados-container {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.container {
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
