.container-formulario {
  width: 85%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container-formulario h3 {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

.form-linha {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.form-coluna {
  flex: 1;
  display: flex;
  min-width: calc(33.33% - 20px);
  flex-direction: column;
  
}

.container-formulario label {
  margin-bottom: 8px;
  font-weight: bold;
  align-self: flex-start;
}

.container-formulario input[type="number"],
.container-formulario input[type="text"],
.container-formulario input[type="email"] {
  padding: 8px;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  width: 90%;
}

.container-formulario select {
  padding: 8px;
  width: 95%;
  margin-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1em;
}

.container-formulario input[type="text"]:focus,
.container-formulario input[type="number"]:focus,
.container-formulario input[type="email"]:focus,
.container-formulario select:focus{
  outline: none;
  border-color: #007bff;
}

.container-formulario button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
  width: 100%;
}

.container-formulario button[type="submit"]:hover {
  background-color: #0056b3;
}