.container {
  text-align: center;
  margin-top: 50px;
}

.inputContainer {
  margin-bottom: 20px;
}

.input {
  padding: 10px;
  margin-right: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
}

.botao {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.botao:hover {
  filter: brightness(85%);
}

.botaoAdicionar {
  background-color: #007bff;
}

.botaoRemover {
  background-color: #ff4500;
  margin-left: 10px;
}


.botaoToggleCompletar {
  background-color: #4319b8;
  margin-left: 10px;
}
.itemCompletado p{
  text-decoration: line-through;
  color: #01791f;
  font-weight: 600;
}

.lista {
  list-style-type: none;
  padding: 0;
}
.item p{
  font-size: 18px;
}
.item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
}